.future-weather {
  &>span {
    width: 120px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__row {
    margin-bottom: 10px;

    &>span {
      width: 120px;
      display: inline-block;
      font-weight: bold;
      text-align: center;
    }

    &>div {
      width: 120px;
      display: inline-block;
      text-align: center;
    }
  }

  &__temp {
    margin: 0 5px 0 5px;
  }

  &__icon {
    position: relative;
    top: 5px;
    width: 20px;
  }
}
